body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}
section{
position: relative;
width:100% ;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
section header{
position: absolute;
top: 0;
width: 100%;
display: flex;
justify-content: flex-end;
padding: 20px;

}
section header ul{
display: flex;
justify-content: center;
align-items: center;


}
section header ul li{
list-style: none;
margin-left: 20px;

}
section header ul li a{
color: rgb(74, 6, 6);
text-decoration: none;
font-size: 15px;
}
section header ul li button{
background-color: rgb(81, 81, 229);
border: none;
outline: none;
padding: 8px 14px;
color: rgb(11, 9, 5);
font-size: 14px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
}
section .main{
    width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
section .main img{
width: 50%;
height: 100px;
padding-left:100px ;
padding-right: 30px;
}
section .main .searchbox{

position: relative;
width: 1;
margin-top: 2px;
}
section .main .searchbox .search{
width: 100%;
padding: 10px;
padding-left:100px ;
padding-right: 100px;
border-radius: 50px;
border: 1px solid black;
outline: none;
font-size: 16px;

}
section .main .searchbox .icons {

position: absolute;
top: 0;
width: 550px;
display: flex;
padding:12px 20px ;
align-items: center;
pointer-events: none;
justify-content:space-between;
}
section .main .buttons{
margin-top: 20px;

}
section .main .buttons button{
margin: 0 5px;
padding: 10px 20px;
color: rgb(57, 22, 22);
font-size: 14px;
border: none;
cursor: pointer;
border-radius: 1px solid transparent;
outline: none;
}
section .main .buttons button:hover{
 border: 1px solid green;
}
section .main .lang{
margin-top: 20px;

}
section .footer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: rgb(232, 227, 222);
}
section .footer .row{
display: flex;
justify-content: space-between;
border: 1px solid rgba(0, 0, 0, 0, 0.05);

}
section .footer .row ul{
display: flex;
}
section .footer .row ul li{
list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(43, 42, 42);
    margin-right: 25px;
}




